
{% extends 'Pages/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/comments.css' %}">
{% endblock %}
 {% block content %}
<div class="comtab"><p style="float: left;">Name : fatih</p><p style="float: right;">Rate :10/10</p><br><br><p><hr>
<p class="comm">Evliya Çelebi kuleyi şöyle tarif eder: Deniz içinde karadan bir ok atımı uzak, dört köşe, sanatkarane yapılmış bir yüksek kuledir. Yüksekliği tam 80 (seksen) arşındır. Sathı mesehası iki yüz adımdır. İki taraftan kapısı vardır.
</p></div>
<div class="comtab1"><p style="float: left;">Name : fatih</p><p style="float: right;">Rate :10/10</p><br><br><p><hr>
<p class="comm">BOĞAZ’DA KÜÇÜK BİR ADA
Şehri daha iyi görebilmeniz için, tam da buradan hareket ederek, resmi biraz genişletmeniz gerekir ama. Galata Kulesi’ni o zaman görebilirsiniz. İşte o sırada, Marmara denizinin Boğaz’la birleştiği yerlerde küçük bir kayalığın üzerine inşa edilmiş küçük bir kule, size yine tarihin derinliklerinden göz kırpar. Kız Kulesi’ni de görmüşsünüzdür artık. Şehri daha iyi tanımak istiyorsanız onu da dinlemeniz gerekir. Size anlatacakları vardır çünkü. Hikâyeler, masallar, efsaneler, ne derseniz deyin, yüzyıllar boyunca bu coğrafyanın dillerinde yol alıp yaşadığımız bu günlerin kıyılarına gelmiş, demir atmıştır. Başka zamanları beklercesine...
</p></div>
<div class="comtab2"><p style="float: left;">Name : fatih</p><p style="float: right;">Rate :10/10</p><br><br><p><hr>
<p class="comm">Muhteşem muhakkak görünmesi gereken bir yer fakat  içerideki kafe kısmında fi  yatlar oldukça uçuk. üsküd ardan motorlar la geçiyorsunuz herhangi bir  zaman kısıtlaması yok akş am 8 e kadar o rda takılabilirsiniz. Manzarası ç ok güzel istediğiniz gibi fot oğraf çekilebilir sin bu süreçte
</p>
</div>

<img src="{% static 'img/res.jpg' %}"  class="image" >
{% endblock %}