

{% extends 'Pages/main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <div class="main">
      <h1 id="baslık"> About </h1>
      <p class="info">Leonardo, genç bir noter olan Messer/Ser (Üstad anlamında) Piero da Vinci'nin ve Vinci bölgesinden Caterina Lippi adlı, on altı yaşında, öksüz, yetim ve yoksul bir genç kız olduğu anlaşılan Caterina'nın evlilik dışı çocuğu olarak Vinci kasabası yakınlarındaki Anchiano'da dünyaya geldi. Avrupa'daki modern isimlendirme kurallarının yerleşmesinden önce dünyaya tam ismi, "Vincili Üstad Piero'nun oğlu Leonardo" manasına gelen Leonardo di ser Piero da Vinci'dir. Eserlerini "Leonardo" ya da "Io, Leonardo (Ben, Leonardo)" olarak imzalamıştır.

Somut kanıtlar bulunmasa da, Leonardo'nun annesi Caterina'nın, babası Piero'ya ait Ortadoğulu bir köle olduğu tahmin ediliyor. Babası, Leonardo’nun doğduğu yıl, Albiera adındaki ilk eşi ile evlendi. Leonardo’ya bebekliğinde annesi baktı, annesi başka biriyle evlendirilerek komşu kasabaya yerleşince, babasının nadiren uğradığı büyükbabasının evinde yaşamaya başladı; arada sırada Floransa'ya babasının evine giderdi. Babasının ilk eşinden çocuğu olmadığı için aileye kabul edilmişti ama amcası Francesco dışında ailedeki kimseden sevgi görmedi.


Leondardo'nun anatomi ve insan vücudu üzerine eğitimi çıraklık döneminde başladı. Öğretmeni Andrea del Verrocchio öğrencilerinin anatomiyi kavramasında ısrarlıydı.
14 yaşına kadar Vinci’de yaşayan Leonardo, büyükanne ve büyükbabasının ardı ardına ölmesi üzerine 1466'da babası ile birlikte Floransa'ya gitti. Evlilik dışı çocukların üniversiteye gitmesi yasak olduğundan üniversite öğrenimi görme şansı yoktu. Küçük yaştan itibaren çok güzel çizimler yapan Leonardo’nun resimlerini babası, dönemin ünlü ressam ve heykeltıraşı Andrea del Verrocchio'ya gösterince, Verrochio onu çırak olarak yanına aldı. Leonardo Verrocchio'nun yanında Lorenzo di Credi ve Pietro Perugino gibi ünlü sanatçılarla çalışma fırsatı buldu. Atölyede sadece resim yapmayı değil, lir çalmayı da öğrendi. Gerçekten de iyi çalıyordu.

Floransa'yı 1482'de terkederek Milano Dükü Sforza'nın hizmetine girdi. Dükün hizmetine girebilmek için köprüler, silahlar, gemiler, bronz, mermer ve kilden heykeller yapabileceğini anlattığı ancak göndermediği mektubu bütün zamanların en olağanüstü iş başvurusu olarak kabul edilmiştir.
</p>
    </div>
{% endblock %}