{% extends 'Pages/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/howtogo.css' %}">
{% endblock %}
{% block content %}
<button type="button" class="collapsible">Car</button>
<div class="content">
  <p>Kız Kulesi, Salacak, Üsküdar Salacak Mevkii, 34668 Üsküdar/İstanbul</p>
</div>
    <button type="button" class="collapsible">Subway</button>
<div class="content">
  <p>M5 Üsküdar-Çekmeköy Subway Stations</p>
</div>
    <button type="button" class="collapsible">Bus</button>
<div class="content">
  <p>2, 5, 9, 11BE, 11C, 11D, 11E, 11ES Bus Numbers</p>
</div>
    <button type="button" class="collapsible">Seaway</button>
<div class="content">
  <p>Üsküdar-Kız Kulesi Seaway, Kabataş-Kız Kulesi Seaway</p>
</div>

    <script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
    </script>
{% endblock %}
