
{% extends 'Pages/mainl.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/list.css' %}">
{% endblock %}
{% block content %}
      <a id="baslık" href="{% url 'place' %}"></a>


<div class="comtab"><p style="float: left;color:black;">KIZ KULESİ</p><p style="float: right; color:black;">Rate :10/10</p><br><p><hr>
<p class="comm">
</p></div>

<button type="button" class="button" id="del">Delete</button>
    <button type="button" class="button" id="comm">Rate and Comment</button>
    <button type="button" class="button" id="how">How to go</button>
{% endblock %}