
{% extends 'Pages/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/place.css' %}">
{% endblock %}
{% block content %}
      <table class="table">
  <tr class="tab">
    <th><a href="#">Info</a></th>
    <th><a href="{% url 'howTo' %}">How to go</a></th>
    <th><a href="{% url 'comment' %}">Comments</a></th>
  </tr>
</table>
      <h1 id="baslık"> KIZ KULESİ </h1>
      <p class="info">
The history of the Maiden's Tower goes back to the times before Christ.
          <br>When we look at the historical evidence, we see that the tower was first mentioned in 410 BC. Built by Alkibiades of Athens, the tower was used to control ships passing through the Bosphorus and collect taxes.
          <br>After Istanbul came under Roman rule, the Byzantine Emperor Manuel Komnenos (I. Manuel) strengthened the building with stones, designed it as a full tower and turned it into a defense building.
          <br>The tower, which was restored once again during the Ottoman period, witnessed the performances of the mehter team.
          <br>This tower, which has been destroyed and restored many times throughout its history, serves as a cafe, museum and restaurant that can be visited off Salacak in Üsküdar.
</p>
<img src="{% static 'img/kiz-kulesi-gun-batimi-620x375.jpg' %}"  class="image" >
{% endblock %}
