
{% extends 'Pages/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/place.css' %}">
{% endblock %}
{% block content %}
    <h1></h1>
    {{ object.name }}
    <h1> Info</h1>
    {{ object.info }}
    <h1>Descrip</h1>
    {{ object.description }}

    <h1>Comments</h1>
    {% for x in object_list %}
    {% if object == x.place %}
        {{ x.comment }} - {{ x.rate }}
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <form method="post">
        {% csrf_token %}


    <button type="button" name="button" id="addl">Add to the list</button></form>
    {% endif %}

{% endblock %}
