
{% extends 'Pages/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/writehowtogo.css' %}">
{% endblock %}
{% block content %}
      <div>
  <form action="" method="post">
      {% csrf_token %}
    <label id="co" for="Comment"><b>Method of transport</b></label>
      {{ form.wayOfTransport }}
      <h6>Description</h6>
      {{ form.description }},
      {% form.place = object %}


<button type="button" name="button" id="savB">Save & Share</button>

    </form>
    </div>
{% endblock %}