
#baslık{
  top: 120px;
  left: 150px;
  position: absolute;
}
.info{
  top: 200px;
  left: 150px;
  right: 750px;
  border-bottom: 1000px;
  position:absolute;
}
.image{
  width: 20%;
  height: 20%;
  top:200px;
  left: 1500px;
  position: fixed;
}
.table{
  position: absolute;
  top: 100px;
  left: 140px;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
.tab a{
  color: white;
  text-decoration: none;
}
.comtab{
  left: 140px;
  top: 235px;
  position: absolute;
  border: 3px solid white;
  width: 800px;
  height: 125px;
}
.comtab1{
  left: 120px;
  top: 270px;
  position: absolute;
  border: 3px solid gray;
  width: 800px;
  height: 125px;
}
.comtab2{
  left: 120px;
  top: 410px;
  position: absolute;
  border: 3px solid gray;
  width: 800px;
  height: 125px;
}
.comm {
  overflow-y: scroll;
  height: 50px;
  color: white;
}
.table{
  position: absolute;
  top: 100px;
  left: 140px;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
.tab a{
  color: white;
  text-decoration: none;
}
.like{
  top: 200px;
  left: 1000px;
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  outline: none;
}
.hile{
  top: 280px;
  left: 1005px;
  position: absolute;

}
.ll{
  height: 5%;
  width: 5%;
}

.hil2{
  top: 285px;
  left: 1060px;
  position: absolute;
}
.dis{
  top: 200px;
  left: 1055px;
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  outline: none;
}
.dl{
  height: 5%;
  width: 5%;
}
body{
  background:url("/static/img/commss.jpg") ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}