
#baslık{
  top: 120px;
  left: 150px;
  position: absolute;
}
.info{
  top: 200px;
  left: 150px;
  right: 750px;
  border-bottom: 1000px;
  position:absolute;
}
.image{
  width: 20%;
  height: 20%;
  top:200px;
  left: 1500px;
  position: fixed;
}
.table{
  position: absolute;
  top: 100px;
  left: 140px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.tab a{
  color: red;
  text-decoration: none;
}
.comtab{
  left: 120px;
  top: 130px;
  position: absolute;
  border: 3px solid gray;
  width: 800px;
  height: 125px;
}
.comtab1{
  left: 120px;
  top: 270px;
  position: absolute;
  border: 3px solid gray;
  width: 800px;
  height: 125px;
}
.comtab2{
  left: 120px;
  top: 410px;
  position: absolute;
  border: 3px solid gray;
  width: 800px;
  height: 125px;
}
.comm {
  overflow-y: scroll;
  height: 50px;
}
.table{
  position: absolute;
  top: 100px;
  left: 140px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.tab a{
  color: red;
  text-decoration: none;
}
