

#baslık{
  top: 120px;
  left: 150px;
  position: absolute;
  color: red;
  background: none;
}
.info{
  background: none;
  top: 200px;
  left: 150px;
  position: absolute;
}
html{
}
