

#baslık{
  top: 120px;
  left: 150px;
  position: absolute;
  color: black;
  background: none;
  font-size: 40px;
}
.info{
  background: none;
  top: 200px;
  left: 150px;
  position: absolute;
  color: black;
  background: white;
  padding: 30px;
  font-size: 20px;

}
html{
}
body{
  background: url("/static/img/pamukkale.jpg");
  background-size: cover;
}