
#baslık{
  top: 220px;
  left: 400px;
  position: absolute;
  color: black;
  background: none;
  font-size: 40px;
}
.pl{
  top: 200px;
  left: 150px;
  position: absolute;
  right: 1000px;
  height: 2px;
  width: 400px;
}

.img{
  top:180px;
  left: 300px;
  position: fixed;
  width: 20%;
  height: 20%;
}
#rate{
  position: absolute;
  top: 230px;
  left: 1000px;
}

#del{
  position: absolute;
  top: 230px;
  left: 1250px;
}
#how{
  position: absolute;
  top: 230px;
  left: 700px;
}

body{
  background: url("/static/img/arkaplan.jpg");
  background-size: cover;
}