
#baslık{
  top: 230px;
  left: 150px;
  position: absolute;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman";
  font-size: 30px;

}
.pl{
  top: 200px;
  left: 150px;
  position: absolute;
  right: 1000px;
  height: 2px;
  width: 400px;
}

.img{
  top:180px;
  left: 300px;
  position: fixed;
  width: 20%;
  height: 20%;
}
#comm{
  position: absolute;
  top: 230px;
  left: 1000px;
}
.comtab{
  left: 140px;
  top: 235px;
  position: absolute;
  border: 3px solid black;
  width: 800px;
  height: 150px;
  font-size: 20px;
}
.comm {
  overflow-y: scroll;
  height: 50px;
  color: black;
}
#del{
  position: absolute;
  top: 230px;
  left: 1250px;
}
#how{
  position: absolute;
  top: 340px;
  left: 1010px;
}

body{
  background: url("/static/img/arkaplan.jpg");
  background-size: cover;
}